<%= semantic_form_for(worker, as: :worker, url: registration_path(:worker)) do |f| %>
  <%= devise_error_messages! %>

  <div id="form-map"></div>

  <%= f.inputs do %>
    <%= f.input :email %>
      <% if worker.new_record? %>
      <%= f.input :password %>
      <%= f.input :password_confirmation %>
    <% end %>

    <%= f.fields_for :worker do |w| %>
      <%= w.input :first_name %>
      <%= w.input :last_name %>
      <%= w.input :avatar %>
      <%= w.input :phone_number %>
      <%= w.input :latitude, as: :hidden %>
      <%= w.input :longitude, as: :hidden %>

      <%= w.input :skills, as: :check_boxes %>
    <% end %>
  <% end %>

  <div class="actions">
    <% if worker.new_record? %>
      <%= f.submit "Sign up" %>
    <% else %>
      <%= f.submit "Update" %>
    <% end %>
  </div>
<% end %>

<script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCJT0VMVtiZ8xBXOab4Ka4iZHtX_Fx75vQ&callback=initMap">
</script>

<script type="text/javascript">
window.initMap = function() {
    var position = new google.maps.LatLng({
        lat: <%= worker.worker.latitude || 52 %>,
        lng: <%= worker.worker.longitude || 5.5 %>
    });

    var map = new google.maps.Map(document.getElementById('form-map'), {
        center: position,
        zoom: 8,
        streetViewControl: false
    });

    var marker = new google.maps.Marker({
        map: map,
        position: position,
        draggable: true,
        cursor: 'move'
    });

    marker.addListener('dragend', function(event) {
        var position = event.latLng;

        $('#worker_worker_attributes_latitude').val(position.lat());
        $('#worker_worker_attributes_longitude').val(position.lng());
    });
};
</script>
